/*標語*/
.slogan_pic {
    position: absolute;
    width: 329px;
    left: 167px;
    top: 15px;
    animation-name: flyUp;
    animation-duration: 3s;
    animation-delay: 0.5s;
    opacity: 0;
    animation-fill-mode: forwards;
}

@keyframes flyUp{
    0%{
        transform: translateY(30px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}


/*1800px*/
@media (max-width:1800px) {
    .slogan_pic {
        width: 34%;
        left: 130px;
        top: 33px;
    }

}

/*700px*/
@media (max-width:700px) {
    .slogan_pic {
        width: 31%;
    } 
}

/*500px*/
@media (max-width:500px) {
    .slogan_pic {
        left: 17%;
    }
}