/*標語*/
.slogan_pic {
    position: absolute;
    width: 400px;
    left: 167px;
    top: 15px;
    animation-name: flyUp;
    animation-duration: 3s;
    animation-delay: 0.5s;
    opacity: 0;
    animation-fill-mode: forwards;
}

@keyframes flyUp{
    0%{
        transform: translateY(30px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

