/*1600px*/
@media (max-width: 1600px) {
    .main {
        margin: 100px 4% 0 6%;
        width: calc(100% - 10%);
    }
    .header-menu .container {
        padding: 20px 5%;
    }
    .menu-list input {
        right: 5%;
    }
    .hambar {
        right: 5%;
    }
}

/*1500px*/
@media (max-width: 1500px) {
    .left_name {
        margin-top: 80px;
    }
}

/*1300px*/
@media (max-width:1300px) {
    .left_name {
        margin-top: 0;
    }
    .left_name:after{
        display:none
    }
    .left_name:before{
        display: none;
    }
    .brands_block .left_name {
        padding-right: 0;
    }
}


/*1000px*/
@media (max-width:1000px) {
    .brands_block {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .brands_block .left_name {
        width: 80%;
    }
    .right_pic {
        width: 87%;
    }
    .main {
        margin: 100px 5% 0 5%;
    }
    .main-text {
        animation-duration: 1.5s;
        animation-delay: 0.5s;
    }
    .link_block {
        animation-duration: 1s;
        animation-delay: 0.5s;
    }
}

/*700px*/
@media (max-width:700px) {
    .right_pic {
        width: 100%;
    }    
}

/*600px*/
@media (max-width:600px) {
    .main-title {
        text-align: center;
    }
    .color-block {
        justify-content: center;
    }
    .link_block {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 60px;
        margin-bottom: 20px;
    }  
    .case_catalogy {
        margin-top: 0px;
        margin-right: 50px;
    }
    .link-btn {
        margin-top: 0px;
    }
    .content_block {
        text-align: center;
    }
}

/*500px*/
@media(max-width:500px){
    .main-title h1 {
        font-size: 40px;
        margin-bottom: 10px;
    }
}

/*400px*/
@media (max-width:400px) {
    .link_block {
        flex-direction: column;
        justify-content: center;
    }
    .case_catalogy {
        margin-right: 0;
        margin-bottom: 20px;
    }
}

/*370px*/
@media(max-width:370px){
    .main-title h1 {
        font-size: 35px;
    }
}