/*banne_slogan*/
.slogan_pic {
    width: 49px;
    position: absolute;
    right: 218px;
    top: 163px;
    opacity: 0;
    animation-name: flyUp;
    animation-duration: 3s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}
@keyframes flyUp{
    0%{
        transform: translateY(30px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}