/*1800px*/

/*1700px*/
@media (max-width: 1700px) {
    .cover_banner .main .right_word .main-title {
        font-size: 90px;
        margin-bottom:0px;
    }
}
/*1500px*/
@media (max-width: 1500px) {
    .cover_banner .main .right_word .main-title {
        font-size: 80px;
    }

}

/*1400px*/


/*1300px*/

/*1200px*/
@media (max-width: 1200px) {
    .cover_banner .main {
        width: 80%;
    }
}

/*1100px*/
@media (max-width: 1100px) {
    .cover_banner .main {
        width: 85%;
    }
}

/*1024px*/
@media (max-width: 1024px) {
    .cover_banner .main .right_word .main-title {
        font-size: 70px;
        letter-spacing: -2px;
    }
    .web_menu ul li a {
        font-size: 16px;
        margin-left: 15px;
    }
}


/*991px*/
@media (max-width: 1000px) {
    .cover_banner .main .right_word {
        margin-right: 5%;
    }
    .cover_banner .main .left_pic img {
        transform: translate(53px, 3px);
    }
}

/*850px*/
@media (max-width:850px) {
    .web_menu ul li a {
        font-size: 14px;
    }
}

/*800px*/
@media (max-width:800px) {
    .cover_banner .main .left_pic img {
        transform: translate(40px, 3px);
    }
}