/*標題*/
.case_14 .main-title h1 {
    font-size: 50px !important;
}

/*標語*/
.slogan_pic {
    width: 320px;
    position: absolute;
    right: 120px;
    top: 240px;
}

.slogan_pic img {
    width: 100%;
}